body {
    background-color: #c3c3c3;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}
