<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>

    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>

    <filter>
        <filter-name>EntityManagerFilter</filter-name>
        <filter-class>filter.EntityManagerFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>EntityManagerFilter</filter-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/overbooking/*</url-pattern>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/overbooking/</url-pattern>
        <url-pattern>/overbooking/reservation</url-pattern>
        <url-pattern>/overbooking/myReservations</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/overbooking/users</url-pattern>
        <url-pattern>/overbooking/resources</url-pattern>
        <url-pattern>/overbooking/resourceTypes</url-pattern>
        <url-pattern>/overbooking/reservations</url-pattern>
    </filter-mapping>

</web-app>